/**{
    border: 1px solid red !important;
} */

body{
    background: #AAAAAA;
    font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
    color:#FFFFFF;
    margin: 0;
    padding: 0;

}

.container {
    /*background: linear-gradient(to bottom right, #333333 0%, #666666 100%);*/
    /*max-width: 1200px;*/
    width: 100%;
    align-items: center;
    justify-content: center;

}
header{
    background: #333333;
    color: #f1f1f1;
}
h1{
    margin-top: 70px;
}
@media only screen and (min-width: 600px){
    nav{
    background: #333333;
    /*position: fixed;
    top:0;
    left:0;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
    text-align: right;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px;
}
}
@media only screen and (max-width: 600px){
    nav{
    background: #333333;
    /*position: fixed;
    top:0;
    left:0;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60px;
    text-align: center;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px;
}
}

.header-Link {
    color: #ffeddb;
    font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 5%;
    margin: 0 10px;
}

#typewriter{
    /*border: 1px solid green !important;*/
    background: #333333;
    height:98vh;
    justify-content:center;
    position: relative;
    font-family: monospace;
    text-decoration: none;
    color: green;
    font-size: 1.5em;
}

@media only screen and (min-width: 600px){
    #typewriter-content{
        width: 91.66%;
        padding-bottom: 80px;
        margin-top: auto;
        margin-bottom: auto;
        line-height:1.5;
        text-align: left;
        position: relative;
        font-size: 40px;
    }
}
@media only screen and (max-width: 600px){
    #typewriter-content{
        width: 91.66%;
        padding-bottom: 80px;
        margin-top: auto;
        margin-bottom: auto;
        line-height:2;
        text-align: left;
        position: relative;
        font-size: 25px;
    }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header{
    margin:0;
}
.img-fluid{
    max-width: 100%;
    height:auto;
}
.section-header{

}
.projects{
    /*margin:10px;*/
    padding-bottom: 7%;
}
.project-links{
    background:#ffeddb;
    color:#333333;
    font-weight: bold;
    font-size:15;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 2%;
    border-radius: 20px;
    text-decoration: none;
    position: relative;

}
.project-links:hover{
    background: #333333;
    color: #ffeddb;
    text-decoration: underline;
    position: relative;


}
.project-links:hover .github-img{
    filter: invert(100%);
}
.github-img{
    position: absolute;
    /*border: 1px solid green !important;*/
    margin:auto;
    /*margin-top:auto;
    margin-bottom:auto;*/
    /*padding-top: px;*/
    width:20px;
    height:auto;
}
.text-link{
    position:relative;
    margin-left:30px;
}
.email-icon{
    position:absolute;
    max-height: 100%;
    filter: invert(100%);
    width:27px;
    padding-left: 2px;
    height:auto;
    margin:auto;
    /*margin-top: 10px;*/
}
.github-icon{
    position:absolute;
    filter: invert(100%);
    width:25px;
    height:auto;
    /*margin:auto;*/
    /*margin-left: 2px;*/
}
.phone-icon{
    position:absolute;
    filter: invert(100%);
    width:25px;
    height:auto;
    /*margin:auto;*/
    /*margin-left: 2px;*/
}
.pin-icon{
    position:absolute;
    filter: invert(100%);
    width:25px;
    height:auto;
    /*margin:auto;*/
    /*margin-left: 2px;*/
}

.contact-line{
    /*width:600px;*/
    padding-top:15px; 
    padding-bottom:15px;
}
.contact-links{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-links:hover{
    text-decoration:underline;
    text-decoration-color:#FFFFFF;
}
.email-text{
    /*position:absolute;*/
    margin-left: 60px;
    color:#FFFFFF;
    text-decoration: none;
    font-size:18;

}
.embeded{

    width: 100%;
    /*width:600px;*/
    min-height: 700px;

}
h1{
    color: #ffffff;
}
#contact{
    height:10vh;
}
.contact-content{
    height: 90vh;
    margin:auto;
}
.contact-info{
    height:50%;
    position relative;
    margin:auto;
}
